In [99]:
import env
import numpy as np
import pandas as pd

In [46]:
def get_db_url(user,password,host,database):
    return f'mysql+pymysql://{user}:{password}@{host}/{database}'

In [100]:
url = get_db_url(user,password,host,'employees')
url

'mysql+pymysql://robinson_2289:YYxwAT9m2guld6bsEHpjenVRfObPzMdC@data.codeup.com/employees'

In [48]:
query = 'select * from employees limit 10'

In [53]:
df

   emp_no  birth_date first_name  last_name gender   hire_date
0   10001  1953-09-02     Georgi    Facello      M  1986-06-26
1   10002  1964-06-02    Bezalel     Simmel      F  1985-11-21
2   10003  1959-12-03      Parto    Bamford      M  1986-08-28
3   10004  1954-05-01  Chirstian    Koblick      M  1986-12-01
4   10005  1955-01-21    Kyoichi   Maliniak      M  1989-09-12
5   10006  1953-04-20     Anneke    Preusig      F  1989-06-02
6   10007  1957-05-23    Tzvetan  Zielinski      F  1989-02-10
7   10008  1958-02-19     Saniya   Kalloufi      M  1994-09-15
8   10009  1952-04-19     Sumant       Peac      F  1985-02-18
9   10010  1963-06-01  Duangkaew   Piveteau      F  1989-08-24

In [51]:
url_typo = get_db_url(user,password,host,'employeess')
url_typo

'mysql+pymysql://robinson_2289:YYxwAT9m2guld6bsEHpjenVRfObPzMdC@data.codeup.com/employeess'

In [52]:
df = pd.read_sql(query,url_typo)

OperationalError: (pymysql.err.OperationalError) (1044, "Access denied for user 'robinson_2289'@'%' to database 'employeess'")
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [54]:
query_typo= 'select * from employees limit 10z'

In [55]:
df = pd.read_sql(query_typo,url)

OperationalError: (pymysql.err.OperationalError) (1327, 'Undeclared variable: 10z')
[SQL: select * from employees limit 10z]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [71]:
titles_query = 'select * from titles'

In [72]:
employees_df = pd.read_sql(query,url)
titles_df = pd.read_sql(titles_query,url)
titles_df

        emp_no            title   from_date     to_date
0        10001  Senior Engineer  1986-06-26  9999-01-01
1        10002            Staff  1996-08-03  9999-01-01
2        10003  Senior Engineer  1995-12-03  9999-01-01
3        10004         Engineer  1986-12-01  1995-12-01
4        10004  Senior Engineer  1995-12-01  9999-01-01
...        ...              ...         ...         ...
443303  499997         Engineer  1987-08-30  1992-08-29
443304  499997  Senior Engineer  1992-08-29  9999-01-01
443305  499998     Senior Staff  1998-12-27  9999-01-01
443306  499998            Staff  1993-12-27  1998-12-27
443307  499999         Engineer  1997-11-30  9999-01-01

[443308 rows x 4 columns]

In [73]:
employees_df.shape

(10, 6)

In [74]:
titles_df.shape

(443308, 4)

In [103]:
len(titles_df.title.unique())

7

In [68]:
employees_df.describe()

            emp_no
count     10.00000
mean   10005.50000
std        3.02765
min    10001.00000
25%    10003.25000
50%    10005.50000
75%    10007.75000
max    10010.00000

In [75]:
titles_df.describe()

              emp_no
count  443308.000000
mean   253075.034430
std    161853.292613
min     10001.000000
25%     84855.750000
50%    249847.500000
75%    424891.250000
max    499999.000000

In [78]:
titles_df['to_date'].min()

datetime.date(1985, 3, 1)

In [79]:
titles_df['to_date'].max()

datetime.date(9999, 1, 1)

In [97]:
recent_date = 'select * from titles where to_date < now()'

In [98]:
recent_date_df = pd.read_sql(recent_date,url)

recent_date_df['to_date'].max()

datetime.date(2002, 8, 1)