In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://gist.githubusercontent.com/armgilles/194bcff35001e7eb53a2a8b441e8b2c6/raw/92200bc0a673d5ce2110aaad4544ed6c4010f687/pokemon.csv')

## Discussion 


1. What is a dataframe? 


2. What information can we obtain about a dataframe?


3. How have we interacted with a dataframe?

---

### Practice Exercises


#### Information about a dataframe

1. Obtain the following information:
    
    - dimensions
    - dtypes
    - column names
    - summary statistics

In [3]:
print(df.dtypes,'\n')
print(df.shape,'\n')
print(df.columns,'\n')
df.describe()

#              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

(800, 13)

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

#### Working with dataframes

1. What is the highest HP value present?

    - Create a function named highest_attack.
    - Use the loaded dataframe as an argument.

In [4]:
def highest_attack(df):
    return df.Attack.max()

highest_attack(df)

190

2. Which Pokemon possess(es) the highest HP value?

In [5]:
df.groupby(['HP'])['Name'].max().tail(1)

HP
255    Blissey
Name: Name, dtype: object

 
3. How many different types are represented in Type 1?

    - Create a function named num_types
    - Use the loaded dataframe as an argument

In [6]:
def num_types(df, field_name='Type 1'):
    return len(df.groupby(['Type 1'])['Name'].count())

num_types(df)

18

4. Number of Pokemon whose Type 2 is Ghost

In [17]:
def num_types2(df):
    return df.groupby(['Type 2'])['Name'].get_group('Ghost').count()

num_types2(df)

14

5. Percentage of Pokemon whose Type 2 is Ghost

    - Create a function named percent_ghost
     - Use the loaded dataframe as an argument

In [8]:
df[df['Type 2'] == 'Ghost'].value_counts(normalize=True)

#    Name                     Type 1    Type 2  Total  HP   Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
130  GyaradosMega Gyarados    Water     Dark    640    95   155     109      70       130      81     1           False        0.05
248  Tyranitar                Rock      Dark    600    100  134     110      95       100      61     2           False        0.05
675  Pangoro                  Fighting  Dark    495    95   124     78       69       71       58     6           False        0.05
658  Greninja                 Water     Dark    530    72   95      67       103      71       122    6           False        0.05
553  Krookodile               Ground    Dark    519    95   117     80       65       70       92     5           False        0.05
552  Krokorok                 Ground    Dark    351    60   82      45       45       45       74     5           False        0.05
551  Sandile                  Ground    Dark    292    50   72      35       35       35       65     5           False        0.05
452  Drapion                  Poison    Dark    500    70   90      110      60       75       95     4           False        0.05
442  Spiritomb                Ghost     Dark    485    50   92      108      92       108      35     4           False        0.05
435  Skuntank                 Poison    Dark    479    103  93      67       71       61       84     4           False        0.05
434  Stunky                   Poison    Dark    329    63   63      47       41       41       74     4           False        0.05
342  Crawdaunt                Water     Dark    468    63   120     85       90       55       55     3           False        0.05
332  Cacturne                 Grass     Dark    475    70   115     60       115      60       55     3           False        0.05
319  SharpedoMega Sharpedo    Water     Dark    560    70   140     70       110      65       105    3           False        0.05
     Sharpedo                 Water     Dark    460    70   120     40       95       40       95     3           False        0.05
318  Carvanha                 Water     Dark    305    45   90      20       65       20       65     3           False        0.05
275  Shiftry                  Grass     Dark    480    90   100     60       90       60       80     3           False        0.05
274  Nuzleaf                  Grass     Dark    340    70   70      40       60       40       60     3           False        0.05
248  TyranitarMega Tyranitar  Rock      Dark    700    100  164     150      95       120      71     2           False        0.05
720  HoopaHoopa Unbound       Psychic   Dark    680    80   160     60       170      130      80     6           True         0.05
Name: proportion, dtype: float64

In [23]:
def percent_ghost(df):
    #return (df['Type 2'].value_counts(normalize=True)/df['Type 2'].count())*100


    return round( ((df['Type 2']== 'Ghost').sum() / df.shape[0]
               ))
percent_ghost(df)

0

6. Number of Pokemon whose Attack is greater than Defense

In [10]:
len(df[df['Attack'] > df['Defense']])

433

7. Lowest speed for Grass or Rock

In [11]:
df[df['Type 1'].str.contains('Rock|Grass', regex=True)].sort_values('Speed')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
486,438,Bonsly,Rock,NaN,290,50,80,95,10,45,10,4,False
658,597,Ferroseed,Grass,Steel,305,44,50,91,24,86,10,5,False
583,524,Roggenrola,Rock,NaN,280,55,75,85,25,25,15,5,False
651,590,Foongus,Grass,Poison,294,69,55,45,55,55,15,5,False
584,525,Boldore,Rock,NaN,390,70,105,105,50,40,20,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,254,Sceptile,Grass,NaN,530,70,85,65,105,85,120,3,False
551,492,ShayminSky Forme,Grass,Flying,600,100,103,75,120,75,127,4,True
153,142,Aerodactyl,Rock,Flying,515,80,105,65,60,75,130,1,False
275,254,SceptileMega Sceptile,Grass,Dragon,630,70,110,75,145,85,145,3,False
154,142,AerodactylMega Aerodactyl,Rock,Flying,615,80,135,85,70,95,150,1,False