In [1]:
import pandas as pd

df = pd.read_csv('https://gist.githubusercontent.com/armgilles/194bcff35001e7eb53a2a8b441e8b2c6/raw/92200bc0a673d5ce2110aaad4544ed6c4010f687/pokemon.csv')

10. Change all the column names

      - lowercase letters
      - remove whitespace

In [68]:
df = df.rename(columns={'Name':'name','Type 1':'type 1','Type 2':'type 2','Total':'total', 'HP':'hp','Attack':'attack',
                    'Defense':'defense', 'Sp.Atk':'sp.atk','Sp. Def':'sp. def','Speed':'speed',
                    'Generation':'generation','Legendary':'legendary'})

In [71]:
df.columns

Index(['#', 'name', 'type 1', 'type 2', 'total', 'hp', 'attack', 'defense',
       'special-attack', 'special-defense', 'speed', 'generation',
       'legendary'],
      dtype='object')

11. Rename Sp. Attack to special-attack

12. Rename Sp. Def to special-defense

In [70]:
df = df.rename(columns={'Sp. Atk':'special-attack', 'sp. def':'special-defense'})

    
13. Which Pokemon has/have the greatest difference in: 

    - Attack and Defense points
    - Special Attack and Special Defense

In [140]:
df['atk_def_dif'] = (df['attack'] - df['defense'])
df.sort_values('atk_def_dif',ascending=False).head(1)

,#,name,type 1,type 2,total,hp,attack,defense,special-attack,special-defense,speed,generation,legendary,atk_def_dif
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,160

In [143]:
df['sp.atk_def_dif'] = df['special-attack'] - df['special-defense']
df.sort_values('sp.atk_def_dif',ascending=False).head(2)

,#,name,type 1,type 2,total,hp,attack,defense,special-attack,special-defense,speed,generation,legendary,atk_def_dif,sp.atk_def_dif
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,160,160
750,681,AegislashBlade Forme,Steel,Ghost,520,60,150,50,150,50,60,6,False,100,100

14. How many Pokemon are of Type 1 Rock and Type 2 Fairy?

In [131]:
df[df['type 1'].str.contains('Rock') & df['type 2'].str.contains('Fairy')]
# can use len() to the number of pokemon with said types
# 3

,#,name,type 1,type 2,total,hp,attack,defense,special-attack,special-defense,speed,generation,legendary
773,703,Carbink,Rock,Fairy,500,50,50,150,50,150,50,6,False
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True

15. Which Fire Pokemon appears last alphabetically?

    - Create a function named last_pokemon
    - Use the loaded dataframe as an argument

In [39]:
def last_pokemon(df):
    return df.sort_values(by=['name'],ascending=False).groupby('type 1')['name'].get_group('Fire').head(1)

last_pokemon(df)
# Vulpix

42    Vulpix
Name: name, dtype: object

---
### Bonus 


1. Find the average speed by Generation

2. Create a function which acccepts: 

- a dataframe
- two different Pokemon stats e.g. Attack and Defense


The function will:

- Calculate difference between the two given Pokemon stats 

- Create a column which contains the difference of the two given Pokemon stats named stats-diff

In [154]:
df.groupby(['generation'])['speed'].mean()

generation
1    72.584337
2    61.811321
3    66.925000
4    71.338843
5    68.078788
6    66.439024
Name: speed, dtype: float64

In [ ]:
def pokefunc(df,)